<!DOCTYPE html>
<html>
<head>
	<title>List Diretory</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css"/>
</head>
<body>

<table>
	<thead>
		<tr>
			<th>Sl. No.</th>
			<th>Path</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
</body>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#example').DataTable( {
		        // "ajax": '../ajax/data/arrays.txt'
		    } );
		} );

	</script>

</html>
